.contacts {
  width: 300px;
  padding: 10px;
  .contactTemplate {
    margin-top: 10px;
    width: 260px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    img {
      height: 100%;
      width: 100%;
      grid-column: 1;
      grid-row: 1 / span 2;
      filter: hue-rotate(-33deg);
    }

    .username {
      grid-column: 2 / span 3;
      grid-row: 1;
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }

    .lastMessage {
      grid-column: 2 / span 3;
      grid-row: 2;
      margin: 0;
    }
  }
}
