main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}
#leftAside {
  min-height: 100vh;
  max-height: 100vh;
  width: fit-content;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px;
  @media (width < 800px) {
    width: 100%;
  }
  &.notActive {
    @media (width < 800px) {
      display: none;
    }
  }
}
#chatSection {
  background-color: white;
  min-height: 100vh;
  max-height: 100vh;
  flex-grow: 1;
  @media (width < 800px) {
    display: none;
  }
  &.active {
    @media (width < 800px) {
      display: block;
    }
  }
  #GoBackButton {
    display: none;
    margin: auto;
    margin-top: 5px;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(91, 21, 255, 0.959);
    border-radius: 10px;
    color: white;
    @media (width < 800px) {
      display: block;
    }
    border: none;
  }
  .messagesContainer {
    height: calc(100vh - 100px);
    overflow-y: scroll;
  }

  .yourMessage {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    width: fit-content;
    font-size: 28px;
    padding: 10px;
    background-color: rgba(91, 21, 255, 0.959);
    border-radius: 15px;
    color: white;
    right: 10px;
  }

  .notYourMessage {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    width: fit-content;
    font-size: 28px;
    padding: 10px;
    background-color: rgba(240, 240, 240);
    border-radius: 15px;
    color: black;
    right: 10px;
  }

  .messageDate {
    font-size: 12px;
  }
}
